<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style type="text/css">
		@media print {
            tr.page-break  { display: block; page-break-before: always; }
        } 
        @media print{@page {size: landscape}} 
		.merged_forms {
			width:1122px; 
			height:790px
		}
		body {
			margin: 0px;
		}
		@page 
	    {
	       /* size:  auto;*/   /* auto is the initial value */
	        margin: 0mm;  /* this affects the margin in the printer settings */
	    }
	</style>
</head>
<body>
	<table>
		<tbody>
			<tr>
				<td><p style="position:absolute;top:115px;left:885px;">Wong Yu Tung</p><div><img class="merged_forms" src="../assets/forms/10a.jpg/page0001.jpg"></div></td>
			</tr>
			<tr>
				<td><div><img class="merged_forms" src="../assets/forms/10a.jpg/page0002.jpg"></div></td>
			</tr>
		</tbody>
	</table>
	

</body>