<footer>
    <div class="container push">
     
        <div class="copy text-center">

           Copyright 2016 綜合就業援助計劃管理系統

        </div>
        
    </div>
</footer>

<script>
$("#logout").click(function() {
	$("#logout_form").submit();
})
$("#profile").click(function() {
	$("#profile_form").submit();
})
</script>

